<h3>Editing existing article</h3>

<% if @article.errors.any? %>
    <h4>The following erros prevented the article from getting created</h4>
    <ul>
    <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>

<%= form_for @article do |element| %>
    <p>
        <%= element.label :title %></br>
        <%= element.text_field :title %>
    </p>
    <p>
        <%= element.label :description %></br>
        <%= element.text_area :description %>
    </p>
    <p>
        <%= element.submit %>
    </p>
<% end %>

<%= link_to "Back to list of articles", articles_path %>